<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
        <link rel="stylesheet" type = 'text/css' href = "{{ url_for('static',filename='css/login.css') }}">

    <style>

    body{
        background-image: url("static/img/background.jpg")
    }

    </style>
</head>


<body>

    <a href = '../'><img src = "static/img/logo.png" alt = "d/vidr" style = "border: none; " align = 'top' height = 100 width = 200></a>

    <div class = "login-page">
    <div class = "form">

        <form method = "POST">
            <input name = "username" type = "text" placeholder = "username"/>
            <input name = "password" type = "password" placeholder = "password"/>
            <button>login</button>
            <p class = "message">Not Registered? <a href = 'register' align = 'right'> Register</a>
            </p>
        </form>

    </div>
    </div>

    <script src= 'https://code.jquery.com/jquery-3.3.1.min.js'>
    </script>
            
    <script>
        $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>


</body>
</html>