<!DOCTYPE html>
<html lang = "en-US">

<head>

<link rel = "stylesheet" type ="text/css" href = "{{ url_for('static',filename='styles/homepage.css') }}">
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
<title>d/vidr</title>

<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<meta charset=utf-8 />

<style>
  article, aside, figure, footer, header, hgroup, 
  menu, nav, section { display: block; }
</style>

</head>

<body style = "background-image: none">

	<a href = 'dvidr/login' align = 'right'> Login</a>
	<a href = 'dvidr'>
	
<img src = "/static/img/logo.png" alt = "d/vidr" style = "border: none; " align = 'top' >

	</a>
	
<div class = "container">
	<img src = "/static/img/split.jpeg" style = "width: 100%;">
	<div class = "centered"><b>SPLITTING BILLS EASIER WITH FRIENDS</b></div>


<h1> How does it work?</h1>


<blockquote>

Step 1: Upload a receipt image.<br />
Step 2: Assign items to friends.<br />
Step 3: Wait for Stripe to charge credit cards accordingly.<br /><br />

The receipt can be either from a restaurant, cafe, or grocery store.<br /> Simply upload the image by clicking the button below.<br /><br /><br />
	
<input type="file" id="file-chooser" onchange="readURL(this);"/>
<div class = "upload">
    <button id="upload-button">Upload Image</button>
</div>

    <div id="results"></div>
    <script type="text/javascript">
    AWS.config.region = 'us-west-2'; // 1. Enter your region
    AWS.config.credentials = new AWS.CognitoIdentityCredentials({
        IdentityPoolId: 'us-west-2:55d7efc5-6b29-4d92-bfa4-2e29c7186634' // 2. Enter your identity pool
    });
    AWS.config.credentials.get(function(err) {
        if (err) alert(err);
        console.log(AWS.config.credentials);
    });

    var bucketName = 'dvidr'; // Enter your bucket name
    var bucket = new AWS.S3({
        params: {
            Bucket: bucketName
        }
    });
    var fileChooser = document.getElementById('file-chooser');
    var button = document.getElementById('upload-button');
    var results = document.getElementById('results');
    button.addEventListener('click', function() {
        var file = fileChooser.files[0];
        if (file) {
            results.innerHTML = '';
            var objKey = file.name;
            var params = {
                Key: objKey,
                ContentType: file.type,
                Body: file,
            };
            bucket.putObject(params, function(err, data) {
                if (err) {
                    results.innerHTML = 'ERROR: ' + err;
                } else {
                    listObjs(); // this function will list all the files which has been uploaded
                    //here you can also add your code to update your database(MySQL, firebase whatever you are using)
                }
            });
        } else {
            results.innerHTML = 'Nothing to upload.';
        }
    }, false);
    function listObjs() {
        console.log("TEST");
        var prefix = 'testing';
        bucket.listObjects({
        }, function(err, data) {
            if (err) {
                results.innerHTML = 'ERROR: ' + err;
            } else {
                var objKeys = "";
                data.Contents.forEach(function(obj) {
                    objKeys += obj.Key + "<br>";
                    console.log(objKeys);
                });
                console.log(data.Contents);
                results.innerHTML = objKeys;
            }
        });
    }
    listObjs();

function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }


    </script>
    <br />

    <img id="blah" src="#" height = 500px width = 400px alt = ''/> <br /> <br />

</blockquote>

</body>

</html>